<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Drug Analysis</title>

</head>
<style>
    h1 {text-align: center}
    p {text-align: center}
    div {text-align: center}
    button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
<body style="background: url(https://thumbs.dreamstime.com/z/set-pills-medicine-drugs-painkiller-tablet-vitamine-pharmaceutical-antibiotics-healthcare-concept-vector-cartoon-design-191849038.jpg)">
    <h1>Drug Analysis Models</h1>
    <div id="buttons">
        <a href="./page1.html"><button type="button">Personality Model</button></a>
        <a href="./page2.html"><button type="button">Demographics Model</button></a>
        <a href="./page3.html"><button type="button">Gateway Drug Model</button></a>

    </div>
</body>
</html>